:root {
    --back-color: rgba(255, 255, 255, 0.65);
    --back-footer: darkblue;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background: var(--back-footer);
    color: white;
    text-align: center;
    padding: 1rem;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #000000;
}

.weather {
    background: var(--back-color);
    padding: 20px;
    border-radius: 8px;
    max-width: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.data {
    background: var(--back-color);
    padding: 20px;
    border-radius: 8px;
    max-width: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

p {
    line-height: 1.1;
    margin-top: 4px;
    margin-bottom: 4px;
}

.hero img {
    width: 100%;
}

footer {
    background: var(--back-footer);
    color: white;
    text-align: center;
    padding: 1rem;
}
.icon {
  display: inline;
}

@media (min-width: 550px) {
    .hero {
        position: relative;
    }

    .data {
        background: var(--back-color);
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .weather {
        background: var(--back-color);
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    .after::after {
        content: "🌤️ ";
    }
  .icon {
    display: none;
  }
}

