main {
    font-family: 'Roboto', sans-serif;
    margin: 1rem auto;
    max-width: 800px;
    padding: .5rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
}

img {
    width: 100%;
    height: auto;
    margin: .5rem;
}

.title {
    color: #5C6AC4;
}

figure {
    margin: 1px;
}

figcaption {
    text-align: center;
}

header {
    background-color: #36454f;
}

#titmenu {
    padding: 1rem;
    color: white;
    margin: 0;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #ffffff;
    position: absolute;
    top: 1.8rem;
    right: 2rem;

}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.open a {
    display: block;
}

nav {
    background-color: #36454f;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    background-color: #36454f;
    color: #fff;
}

h2 {
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav a {
    display: none;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
}

nav a:hover {
    text-decoration: underline double;
    background-color: #eee;
    color: #000;
}

footer {

    background: #36454f;
    color: white;
    text-align: center;
    padding: .5rem;
    font-weight: bold;
    font-size: 1.2rem;
}